# Database Configuration
DATABASE_URL=your_neon_database_url_here

# Django Settings
SECRET_KEY=django-insecure-id26=--dh)5h%5kcm0(ud15vl(mw1c$514apt*ry+0p7&fca1z
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS Settings
CORS_ALLOW_ALL_ORIGINS=True 